.vs

FrameAppWS/bin/
FrameAppWS/obj/
FrameAppWS/out/
FrameAppWS/app_data/
FrameAppWS/Blobs/
FrameAppWS/img/

SIGO.Implementacion/obj/
SIGO.Interface/obj/
SIGO.Modelo/obj/
SIGO.Implementacion/bin/
SIGO.Interface/bin/
SIGO.Modelo/bin/
FrameAppWS/Properties/PublishProfiles/
FrameAppWS/FrameAppWS.csproj.user
FrameAppWS/.vshistory/
FrameAppWS/.config/

Tyc.Modelo/obj/
Tyc.Interface/obj/
Tyc.Modelo/bin/
Tyc.Interface/bin/
Tyc.Implementacion/obj/
Tyc.Implementacion/bin/
