<!DOCTYPE html>
<html>
	<body>
		<img style="width: 200px;height: 150px;" src="cid:Logo">
		<h1><strong style="font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0);">Retrieve password</strong></h1><h3><strong style="font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0);">Hello: {{NombreUsuario}}</strong></h3><p><span style="font-size: medium; font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0);">You are receiving this message because you requested to reset your password</span></p><p></p><p><span style="font-size: medium; font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0);">To change recover password you must enter the confirmation code in the recovery form:</span></p><p></p><p><span style="font-size: medium; font-family: &quot;Times New Roman&quot;; color: rgb(0, 0, 0);">Confirmation code: </span><span style="color: red;">{{CodigoConfirmar}}</span></p><p><br></p>
		
	</body>
</html>